@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix para Leaflet */
.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-tile-container {
  transform: translate3d(0px, 0px, 0px) !important;
}

.leaflet-tile {
  image-rendering: -webkit-optimize-contrast;
}
